{% extends "djangocop/layout.html" %}
{% block body %}
<div class="container-fluid">
  <h2>{{ object }}</h2>

  <table class="table table-striped">
    <tr>
      <th>Created on</th>
      <td>{{ object.created_on }}</td>
      <th>Status</th>
      <td><i class="fa fa-circle {% if object.status|first == "2" %}text-success{% elif object.status|first == "4" %}text-warning{% elif object.status|first == "5" %}text-danger{% else %}text-info{% endif %}"></i> {{ object.status }}</td>
    </tr>
    <tr>
      <th>Content Type</th>
      <td>{{ object.content_type|default:"-" }}</td>
      <th>Length</th>
      <td>{{ object.length }}</td>
    </tr>
  </table>

  {% if object.headers %}
    <h3>Headers</h3>
    <table class="table table-sm table-striped">
      {% for k, v in object.headers.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if object.body %}
    <h3>Body</h3>
    <pre>{{ object.body }}</pre>
  {% endif %}

  {% if object.metadata %}
    <h3>Metadata</h3>
    <table class="table table-sm table-striped">
      {% for k, v in object.metadata.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
{% endblock %}
