{% extends "djangocop/layout.html" %}
{% block body %}
<div class="container-fluid">
  <h2>{{ object }}</h2>

  <table class="table table-striped">
    <tr>
      <th>Created on</th>
      <td>{{ object.created_on }}</td>
      <th>Level</th>
      <td><i class="fa fa-circle" style="color:#{{ object.level.color }}"></i> {{ object.level }}</td>
    </tr>
    <tr>
      <th>Content Type</th>
      <td>{{ object.content_type|default:"-" }}</td>
      <th>Length</th>
      <td>{{ object.length }}</td>
    </tr>
    <tr>
      <th>User</th>
      <td>{{ object.user|default:"-" }}</td>
      <th>IP</th>
      <td>{{ object.ip }}</td>
    </tr>
    <tr>
      <th>Path</th>
      <td>{{ object.path }}</td>
      <th>Method</th>
      <td>{{ object.method }}</td>
    </tr>
    <tr>
      <th>Query string</th>
      <td>{{ object.query_string }}</td>
      <th>Scheme</th>
      <td>{{ object.scheme }}</td>
    </tr>
    <tr>
      <th>Referer</th>
      <td colspan="3">{{ object.referer }}</td>
    </tr>
    <tr>
      <th>User agent</th>
      <td colspan="3">{{ object.user_agent }}</td>
    </tr>
  </table>

  {% if object.headers %}
    <h3>Headers</h3>
    <table class="table table-sm table-striped">
      {% for k, v in object.headers.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if object.sessions %}
    <h3>Sessions</h3>
    <table class="table table-sm table-striped">
      {% for k, v in object.sessions.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if object.cookies %}
    <h3>Cookies</h3>
    <table class="table table-sm table-striped">
      {% for k, v in object.cookies.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if object.post_data_dict %}
    <h3>POST data</h3>
    <table class="table table-sm table-striped">
      {% for k, v in object.post_data_dict.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if object.body %}
    <h3>Body</h3>
    <pre>{{ object.body }}</pre>
  {% endif %}

  {% if object.metadata %}
    <h3>Metadata</h3>
    <table class="table table-sm table-striped">
      {% for k, v in object.metadata.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}

  <hr>

  <h3>Response</h3>
  <table class="table table-striped">
    <tr>
      <th>Created on</th>
      <td>{{ object.response.created_on }}</td>
      <th>Status</th>
      <td><i class="fa fa-circle {% if object.response.status|first == "2" %}text-success{% elif object.response.status|first == "4" %}text-warning{% elif object.response.status|first == "5" %}text-danger{% else %}text-info{% endif %}"></i> {{ object.response.status }}</td>
    </tr>
    <tr>
      <th>Content Type</th>
      <td>{{ object.response.content_type|default:"-" }}</td>
      <th>Length</th>
      <td>{{ object.response.length }}</td>
    </tr>
  </table>

  {% if object.response.headers %}
    <h4>Headers</h4>
    <table class="table table-sm table-striped">
      {% for k, v in object.response.headers.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if object.response.metadata %}
    <h4>Metadata</h4>
    <table class="table table-sm table-striped">
      {% for k, v in object.response.metadata.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if subsequent_logs %}
    <h3>Subsequent logs</h3>
    <table class="table table-sm table-striped table-hover">
      {% for log in subsequent_logs %}
        <tr>
          <td style="background-color:#{{ log.level.color }};"></td>
          <td><a href="{{ log.get_absolute_url }}">{{ log.created_on|time:"H:i:s" }}</a></td>
          <td>{{ log.level }}</td>
          <td>{{ log }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
{% endblock %}
