{% extends "djangocop/layout.html" %}
{% block body %}
<div class="container-fluid">
  <h2>Logs list</h2>

  <table class="table table-striped table-sm table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Time</th>
        <th>Status</th>
        <th>Method</th>
        <th>Path</th>
        <th>User</th>
        <th>IP</th>
        <th>User Agent</th>
        <th>Referer</th>
      </tr>
    </thead>
    <tbody>
      {% for log in object_list %}
        {% ifchanged log.created_on.date %}
          <tr><th colspan="9">{{ log.created_on.date }}</th></tr>
        {% endifchanged %}
        <tr>
          <td class="{% if log.response.status|first == "2" %}bg-success{% elif log.response.status|first == "4" %}bg-warning{% elif log.response.status|first == "5" %}bg-danger{% else %}bg-info{% endif %}"></td>
          <td><a href="{{ log.get_absolute_url }}">{{ log.created_on.time|time:"H:i:s" }}</a></td>
          <td>{{ log.response.status|default:"-" }}</td>
          <td>{{ log.method }}</td>
          <td><a href="{{ log.full_url }}" target="_blank"{% if log.query_string %} title="?{{ log.query_string }}"{% endif %}><i class="fa fa-external-link"></i></a> {{ log.path }}</td>
          <td>{{ log.user|default:"-" }}</td>
          <td>{{ log.ip }}</td>
          <td class="user-agent">{{ log.user_agent }}</td>
          <td class="referer">{{ log.referer }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
