{% load djangocop %}
{% if is_paginated %}
<nav>
  <ul class="pagination">
    {% if page_obj.number > 1 %}
      <li class="page-item"><a class="page-link" href="{% url_replace 'page' 1 %}"><i class="fa fa-fast-backward"></i></a></li>
    {% endif %}

    {% if page_obj.has_previous and page_obj.previous_page_number > 1 %}
      <li class="page-item"><a class="page-link" href="{% url_replace 'page' page_obj.previous_page_number %}"><i class="fa fa-backward"></i></a></li>
    {% endif %}

    <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>

    {% if page_obj.has_next and page_obj.next_page_number < paginator.num_pages %}
      <li class="page-item"><a class="page-link" href="{% url_replace 'page' page_obj.next_page_number %}"><i class="fa fa-forward"></i></a></li>
    {% endif %}

    {% if page_obj.number < paginator.num_pages %}
      <li class="page-item"><a class="page-link" href="{% url_replace 'page' paginator.num_pages %}"><i class="fa fa-fast-forward"></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
