{% extends "djangocop/layout.html" %}
{% block body %}
<div class="container-fluid">
  <h2>{{ object }}</h2>

  <table class="table table-striped">
    <tr>
      <th>Created on</th>
      <td>{{ object.created_on }}</td>
      <th>Level</th>
      <td><i class="fa fa-circle" style="color:#{{ object.level.color }}"></i> {{ object.level }}</td>
    </tr>
    <tr>
      <th>File</th>
      <td>{{ object.file_name }}:{{ object.line }}@{{ object.function_name }}</td>
      <th>Logger</th>
      <td>{{ object.logger_name }}</td>
    </tr>
    <tr>
      <th>Message template</th>
      <td colspan="3">{{ object.message_template }}</td>
    </tr>
  </table>

  {% if object.body %}
    <h3>Body</h3>
    <pre>{{ object.body }}</pre>
  {% endif %}

  {% if object.stack_info %}
    <h3>Stack info</h3>
    <pre>{{ object.stack_info }}</pre>
  {% endif %}

  {% if object.metadata %}
    <h3>Metadata</h3>
    <table class="table table-sm table-striped">
      {% for k, v in object.metadata.items %}
        <tr><th>{{ k }}</th><td>{{ v }}</td></tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
{% endblock %}
